
[flake8]
exclude = 
    migrations,
    __pycache__,
    manage.py,
    settings.py
    app/test.py
    app/urls.py
    core/admin.py
    core/management
    core/tests.py
    app/calc.py
    core/models.py
    user/views.py
    user/serializers
    user/tests
    recipe/views.py
    recipe/serializers.py
    recipe/tests
    